

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #92c0eb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #92c0eb;
	box-shadow:inset 0px 1px 0px 0px #92c0eb;
	background-color:#7abfff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background-color:#ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}

blockquote{
  font-family: Georgia, serif;
  font-size: 13px;
  line-height: 1.2;
  text-align: justify;
  border-left: 10px solid #7abfff;
  
}